/* General */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Green-background {
    background-color: chartreuse;
}

/* Header */

.web_ad {
    background-color: black;
    color: white;
    text-align: center;
    line-height: 30px;
    width: 100%;
    height: 30px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar_item {
    border: solid 1px black;
    width: 100%;
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    transition: 0.5s;
}

.navbar_item:hover {
    background-color: black;
    color: chartreuse;
}

.navbar_item--TShop {
    font-weight: 900;
}

/* Content CSS */

.content_header--item {
    width: 50%;
    text-align: center;
}

.carousel {
    width: 90%;
    margin: auto;
}

.carousel-img {
    width: 20%;
    height: 500px;
}

.seperate {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.product-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.product-item img {
    margin-bottom: 20px;
    transition: 0.3s;
}

.product-item:hover.product-item img {
    transform: scale(1.2);
}

/* Slick */

.slick-prev, .slick-next {
    color: black !important;
}

/* Footer */

.footer {}